.dropzones_container {
  float: left;
  width: 230px;
  height: 320px;
  background-image: url("./fwimgs/dzbk.png");
}

.drop-zones {

  position: relative;
  top: 77px;
  width: 201px;
  height: 155px;
  left: 20px;
}

.tiles-start-container{
  width: 150px;
  height: 320px;
  background-image: url("fwimgs/bk-selection.png");
  background-repeat: no-repeat;
  background-color: #323232;
}
.tiles-start{
  position: relative;
  top:  88px;
}
.tile{
  
  height: 19px;
  width: 40px;
}

.tile:hover {
  border:1px solid #ffffff!important;
}